
@{
    ViewBag.Title = "FAQ";
}

<div class="header-content">
    <h2>FAQ</h2>
</div>
<div class="body-content">
    <div class="qaArea">
        <span class="question">What do we sell?</span>
        <span class="answer">We sell fruits, vegetables, meat, and various general grocery items.</span>
    </div>
    <div class="qaArea">
        <span class="question">How long do my items take to ship?</span>
        <span class="answer">If you live in the Lincoln, Nebraska area we can ship your goods next day.</span>
    </div>
</div>