
@{
    ViewBag.Title = "Welcome";
}

<div class="header-content">
    <h2>Welcome to AtHome Grocers!</h2>
</div>
<div class="body-content">
    <div class="company-description">
        <h4>
            About Us
        </h4>
        <p>This is where the company description will go.</p>
    </div>
    <div class="shopwithus">
        <h4>
            Why Buy From Us?
        </h4>
        <p>You should buy your groceries from us because they are always fresh! Plus our prices can't be beat!</p>
    </div>
</div>