@using AtHomeGroceryStore.Models;
@model ProductSearch
@{
    ViewBag.Title = "Products";
}

<div class="header-content">
    <h2>Products</h2>
</div>
<div class="body-content">
    <div class="searchArea">
        @using (Html.BeginForm("Store", "Store", FormMethod.Post, new { @id = "frmSearchFilters" }))
        {
            <div class="filters">
                <label>This is where search filters will go</label>
                <ul>
                    @foreach (Category cat in Model.availableCats)
                    {
                        <li><span class="categoryItem">@cat.categoryName</span></li>
                    }
                </ul>
            </div>
        }
    </div>
    <div class="productList">
        <label>This is where a list of products will go</label>
        <table>
            @foreach(ProductInfo prod in Model.availableProducts)
            {
                <tr>
                    <td>@prod.productName</td>
                </tr>
            }
            <tr>

            </tr>
        </table>
    </div>
</div>