@{
    ViewData["Title"] = "FAQ";
}
@*<link rel="stylesheet" href="~/css/StyleSheet.css" />*@
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p><textarea></textarea><br />
    <button>Submit Question</button></p>
