@{
    ViewData["Title"] = "Products";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3><br />


<h4>Produce</h4><br />
                <img src="~/images/avocados.png" />
                <img src="~/images/apple.jpeg" />
                <img src="~/images/banana.jpeg" />
                <img src="~/images/inner_produce.jpg" />
                <img src="~/images/lime.jpeg" />
                <img src="~/images/red bell pepper.png" />
                <img src="~/images/tomatoes.jpeg" />

<button>View Items</button><br />

     <br /><br />
<h4>Meat</h4><br />
             <img src="~/images/ground beef.png" />
             <img src="~/images/groundbeef2.png" />
             <img src="~/images/newYorkSteak.jpeg" />
             <img src="~/images/smokedSausage.jpeg" />
             <img src="~/images/porkchop.png" />
             <img src="~/images/chickenDrumsticks.jpeg" />

<button>View Items</button> <br />
<br /><br />

<h4>Dairy</h4><br />

<button>View Items</button> <br />
<br /><br />
<h4>Frozen</h4><br />

<button>View Items</button> <br />
<br /><br />
<h4>Bakery</h4><br />

<button>View Items</button> <br />
<br /><br />
<h4>Other</h4><br />

<button>View Items</button>
